* {
  margin: 0px;
}

/* 폰트 설정 */
@font-face {
  font-family: "GimpoGothicRegular00";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#wrap {
  width: 450px;
  height: 767px;
  border: 7px solid black;
  border-radius: 30px;
  font-family: "GimpoGothicRegular00";
  margin-left: 10px;
}

/* a style none*/
a {
  text-decoration: none;
}

/* input style none*/
input {
  border: none;
  outline: none;
}
