#wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;
  background: linear-gradient(to bottom, white 60%, #f0dbdb 80%, #dba39a 100%);
}

a {
  text-decoration: none;
  color: black;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 11px;
}

#kakao,
#naver,
#google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 175px;
  height: 40px;
  gap: 10px;
}

#kakao {
  background-color: #ffeb02;
}

#naver {
  background-color: #2db400;
}

#google {
  background-color: white;
}

#footer {
  font-size: 11px;
  font-weight: bold;
}

#footer a:visited {
  color: whitesmoke;
}
