#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-left: 12px;
}

#back {
  width: 25px;
}

#back img {
  width: 100%;
}

#title {
  font-size: 15px;
  font-weight: bold;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#userName {
  background-color: #f5ebe0;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  width: 150px;
  height: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 50px;
  gap: 10px;
}

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  width: 200px;
  gap: 15px;
}

.menuImg {
  width: 25px;
}
.menuImg img {
  width: 100%;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  height: 50px;
  margin-top: 233px;
}

#footer div {
  margin-top: 8px;
}

#footer div:last-child {
  filter: invert(74%) sepia(10%) saturate(434%) hue-rotate(317deg)
    brightness(95%) contrast(92%);
}
