<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티</title>
  </head>
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/common.css"
  />
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/Community.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div id="headerBar">
          <div id="back" onclick="click_befoer();">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/before.png"
            />
          </div>
          <div id="title">커뮤니티</div>
          <div id="search">
            <img src="/LookAtMe/src/main/resources/static/img/icon/find.png" />
          </div>
        </div>
        <div id="headerMenu">
          <div class="scroll__wrap" id="scrollWrap">
            <div class="scroll__element">
              <button class="menu">쌍커풀 수술</button>
            </div>
            <div class="scroll__element">
              <button class="menu">매몰법</button>
            </div>
            <div class="scroll__element">
              <button class="menu">절개법</button>
            </div>
            <div class="scroll__element">
              <button class="menu">쌍수 후기</button>
            </div>
            <div class="scroll__element">
              <button class="menu">쌍커풀 절개법</button>
            </div>
            <div class="scroll__element">
              <button class="menu">지방흡입</button>
            </div>
            <div class="scroll__element">
              <button class="menu">눈</button>
            </div>
            <div class="scroll__element">
              <button class="menu">눈매 교정</button>
            </div>
          </div>
        </div>
      </div>
      <div id="main">
        <div class="reviewBox">
          <div class="userImg">
            <img src="/LookAtMe/src/main/resources/static/img/review1.png" />
          </div>
          <div class="reviewContent">
            <div class="userName">민817</div>
            <button class="hospitalName">연세하이눈 성형외과의원</button>
            <div class="reviewTxt">
              상담도 친절히 잘 해주시고 제가 생각하는 부분을 잘 캐치해주셔서
              좋았습니다. 티나지 않고 자연스러워서 너무 만족합니다 !
            </div>
            <button class="tag">쌍커풀 수술</button>
            <button class="tag">절개법</button>
          </div>
          <div class="socre">
            <div class="star">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/star2.png"
              />
            </div>
            <div class="number">10</div>
          </div>
        </div>
        <div class="reviewBox">
          <div class="userImg">
            <img src="/LookAtMe/src/main/resources/static/img/review2.png" />
          </div>
          <div class="reviewContent">
            <div class="userName">큐티원</div>
            <button class="hospitalName">아이디 병원</button>
            <div class="reviewTxt">
              상담도 친절히 잘 해주시고 제가 생각하는 부분을 잘 캐치해주셔서
              좋았습니다. 티나지 않고 자연스러워서 너무 만족합니다 !
            </div>
            <button class="tag">쌍커풀 수술</button>
            <button class="tag">절개법</button>
          </div>
          <div class="socre">
            <div class="star">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/star2.png"
              />
            </div>
            <div class="number">10</div>
          </div>
        </div>
        <div class="reviewBox">
          <div class="userImg">
            <img src="/LookAtMe/src/main/resources/static/img/review3.png" />
          </div>
          <div class="reviewContent">
            <div class="userName">이파리여신</div>
            <button class="hospitalName">반니 성형외과의원</button>
            <div class="reviewTxt">
              원장님 정말 친절하시고 10년전에 매몰법으로 수술했었는데 한쪽 눈이
              크게 울고 풀려서 다시 재수술 받았는데 만족 !
            </div>
            <button class="tag">쌍커풀 재수술</button>
            <button class="tag">매몰법</button>
          </div>
          <div class="socre">
            <div class="star">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/star2.png"
              />
            </div>
            <div class="number">9</div>
          </div>
        </div>
        <div class="reviewBox">
          <div class="userImg">
            <img src="/LookAtMe/src/main/resources/static/img/review1.png" />
          </div>
          <div class="reviewContent">
            <div class="userName">스트롱 공주</div>
            <button class="hospitalName">연세하이눈 성형외과의원</button>
            <div class="reviewTxt">
              상담도 친절히 잘 해주시고 제가 생각하는 부분을 잘 캐치해주셔서
              좋았습니다. 티나지 않고 자연스러워서 너무 만족합니다 !
            </div>
            <button class="tag">쌍커풀 수술</button>
            <button class="tag">절개법</button>
          </div>
          <div class="socre">
            <div class="star">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/star2.png"
              />
            </div>
            <div class="number">7</div>
          </div>
        </div>
        <div class="reviewBox">
          <div class="userImg">
            <img src="/LookAtMe/src/main/resources/static/img/review1.png" />
          </div>
          <div class="reviewContent">
            <div class="userName">민817</div>
            <button class="hospitalName">연세하이눈 성형외과의원</button>
            <div class="reviewTxt">
              상담도 친절히 잘 해주시고 제가 생각하는 부분을 잘 캐치해주셔서
              좋았습니다. 티나지 않고 자연스러워서 너무 만족합니다 !
            </div>
            <button class="tag">쌍커풀 수술</button>
            <button class="tag">절개법</button>
          </div>
          <div class="socre">
            <div class="star">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/star2.png"
              />
            </div>
            <div class="number">10</div>
          </div>
        </div>
        <div class="reviewBox">
          <div class="userImg">
            <img src="/LookAtMe/src/main/resources/static/img/review1.png" />
          </div>
          <div class="reviewContent">
            <div class="userName">민817</div>
            <button class="hospitalName">연세하이눈 성형외과의원</button>
            <div class="reviewTxt">
              상담도 친절히 잘 해주시고 제가 생각하는 부분을 잘 캐치해주셔서
              좋았습니다. 티나지 않고 자연스러워서 너무 만족합니다 !
            </div>
            <button class="tag">쌍커풀 수술</button>
            <button class="tag">절개법</button>
          </div>
          <div class="socre">
            <div class="star">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/star2.png"
              />
            </div>
            <div class="number">10</div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div onclick="click_home();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/home.png" /
          width="30px">
        </div>
        <div onclick="click_chat();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/chat.png" /
          width="30px">
        </div>
        <div onclick="click_map();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/map.png" /
          width="30px">
        </div>
        <div onclick="click_mall();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/mall.png" /
          width="30px">
        </div>
        <div onclick="click_my();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/my.png" /
          width="30px">
        </div>
      </div>
    </div>
  </body>
  <script src="/LookAtMe/src/main/resources/static/js/common.js"></script>
  <script src="/LookAtMe/src/main/resources/static/js/community.js"></script>
</html>
