<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>병원 정보</title>
  </head>
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/common.css"
  />
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/HospitalInfo.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div id="check">해당 병원은 0월 0일 00시에 예약 완료된 병원입니다.</div>
      </div>
      <div id="background">
        <img src="/LookAtMe/src/main/resources/static/img/hospital2.png" />
      </div>
      <div id="headerInfo">
        <div id="doctorImg">
          <img src="/LookAtMe/src/main/resources/static/img/hospital3.png" />
        </div>
        <div id="btns">
          <div class="btn">대리수술안심존</div>
          <div class="btn">15분이내 응답</div>
          <div class="btn">리뷰 23개</div>
        </div>
      </div>
      <div id="main">
        <div id="main1">
          <div id="hospitalName">포에버 성형외과 강남점</div>
          <div id="doctorInfo">
            <div id="doctorName">김석삼</div>
            <div class="etc" style="font-weight: bold">의사</div>
            <div id="subject">성형외과</div>
            <div class="etc" style="color: gray">전문의</div>
          </div>
        </div>
        <div id="main2">
          <div class="contentBox">
            <div class="title">진료분야</div>
            <div id="diagnosis">
              눈재수술 · 눈매교정 · 트임· 눈밑 지방성형 · 절개법 · 동안 눈성형
            </div>
          </div>
          <div class="contentBox">
            <div class="title">상담 가능 시간</div>
            <div id="time">오전 9:00 - 오후 18:30</div>
          </div>
          <div class="contentBox">
            <div class="title">약력</div>
            <div id="experience">
              <div class="exContent">ㆍ대한 OOOO 정회원</div>
              <div class="exContent">ㆍ대한 OOOOOOO 정회원</div>
              <div class="exContent">ㆍ눈성형협회 정회원</div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="review">리뷰</div>
        <div id="footerBtn">
          <button>인기순</button>
          <button>최신순</button>
        </div>
        <div id="reviewZip">
          <div class="reviewBox">
            <div class="reviewImg">
              <img src="/LookAtMe/src/main/resources/static/img/review2.png" />
            </div>
            <div class="reviewContent">
              <div class="userName">이파리여신</div>
              <div class="dateBox">
                <div class="date">3주</div>
                <div class="dateContent">전 방문</div>
              </div>
              <div class="content">
                원장님이 정말 친절하고 10년전에 매물법으로 수술했었는데 한쪽
                눈이 크게 울고 풀렸는데 다시 재수술 받았는데 만족합니다!
              </div>
            </div>
          </div>
          <div class="reviewBox">
            <div class="reviewImg">
              <img src="/LookAtMe/src/main/resources/static/img/review1.png" />
            </div>
            <div class="reviewContent">
              <div class="userName">장수말벌</div>
              <div class="dateBox">
                <div class="date">1주</div>
                <div class="dateContent">전 방문</div>
              </div>
              <div class="content">
                상담도 꼼꼼히 해주시고 자연스럽게 해주십니다
              </div>
            </div>
          </div>
          <div class="reviewBox">
            <div class="reviewImg">
              <img src="/LookAtMe/src/main/resources/static/img/review3.png" />
            </div>
            <div class="reviewContent">
              <div class="userName">보름달123</div>
              <div class="dateBox">
                <div class="date">1달</div>
                <div class="dateContent">전 방문</div>
              </div>
              <div class="content">
                원장님이 정말 친절하고 10년전에 매물법으로 수술했었는데 한쪽
                눈이 크게 울고 풀렸는데 다시 재수술 받았는데 만족합니다!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
