<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/LookAtMe/src/main/resources/static/css/common.css"
    />
    <link
      rel="stylesheet"
      href="/LookAtMe/src/main/resources/static/css/Intro.css"
    />
    <title>Intro 화면</title>
  </head>
  <body>
    <div id="wrap">
      <div id="header">룩앤美</div>
      <div id="main">
        <div id="kakao">
          <img
            src="/LookAtMe/src/main/resources/static/img/Logo/free-icon-kakao-talk-3669973.png"
            width="25px"
          />
          카카오 로그인하기
        </div>
        <div id="naver">
          <img
            src="/LookAtMe/src/main/resources/static/img/Logo/free-icon-letter-n-8142645.png"
            width="25px"
          />
          네이버 로그인하기
        </div>
        <div id="google">
          <img
            src="/LookAtMe/src/main/resources/static/img/Logo/free-icon-search-281764.png"
            width="20px"
          />
          구글 로그인하기
        </div>
      </div>
      <div id="footer">
        <a href="Join.html">다른 방법으로 로그인하기</a>
      </div>
    </div>
  </body>
</html>
