<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/LookAtMe/src/main/resources/static/css/common.css"
    />
    <link
      rel="stylesheet"
      href="/LookAtMe/src/main/resources/static/css/Join.css"
    />
    <title>회원가입</title>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h4>회원가입</h4>
      </div>
      <div id="main">
        <div id="joinBox">
          <input id="userId" type="email" placeholder="이메일" />
          <div>
            유효하지 않은 이메일 주소일 경우, 서비스 이용에 제한을 받을 수
            있습니다.
          </div>
          <input id="userPw" type="pw" placeholder="비밀번호" />
          <div>
            비밀번호는 숫자, 영문자, 특수문자 포함 9~20자로 입력해주세요.
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="already">
          <span>이미 룩앤미 회원이신가요?</span>
          <a href="Login.html">로그인</a>
        </div>
        <button id="nextBtn">다음</button>
      </div>
    </div>
  </body>
</html>
