<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
  </head>
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/common.css"
  />
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/Mypage.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div id="back">
          <img src="/LookAtMe/src/main/resources/static/img/icon/before.png" />
        </div>
        <div id="title">마이페이지</div>
      </div>
      <div id="main">
        <div id="profile">
          <div id="userImg">
            <img src="/LookAtMe/src/main/resources/static/img/review3.png" />
          </div>
          <div id="userName">민817</div>
        </div>
        <div id="menu">
          <div class="menuItem">
            <div class="menuImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/list1.png "
              />
            </div>
            <div id="menuName">상담내역</div>
          </div>
          <div class="menuItem">
            <div class="menuImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/list2.png "
              />
            </div>
            <div id="menuName">수술 및 시술내역</div>
          </div>
          <div class="menuItem">
            <div class="menuImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/chat.png"
              />
            </div>
            <div id="menuName">커뮤니티 활동내역</div>
          </div>
          <div class="menuItem">
            <div class="menuImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/info.png"
              />
            </div>
            <div id="menuName">개인정보</div>
          </div>
          <div class="menuItem">
            <div class="menuImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/notice.png "
              />
            </div>
            <div id="menuName">공지사항</div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div onclick="click_home();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/home.png" /
          width="30px">
        </div>
        <div onclick="click_chat();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/chat.png" /
          width="30px">
        </div>
        <div onclick="click_map();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/map.png" /
          width="30px">
        </div>
        <div onclick="click_mall();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/mall.png" /
          width="30px">
        </div>
        <div onclick="click_my();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/my.png" /
          width="30px">
        </div>
      </div>
    </div>
  </body>
  <script src="/LookAtMe/src/main/resources/static/js/common.js"></script>
</html>
