<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
  </head>
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/common.css"
  />
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/Mypage.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div id="logo">룩앤美</div>
        <div id="setting">
          <img
            src="/LookAtMe/src/main/resources/static/img/icon/setting.png"
            width="27px"
          />
        </div>
      </div>
      <div id="main">
        <div id="profile">
          <div id="profileImg">
            <img
              src="/LookAtMe/src/main/resources/static/img/hospitalEx3.png"
            />
          </div>
          <div id="carmera">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/camera.png"
            />
          </div>
          <div id="nickname">Nickname</div>
        </div>
        <div id="reward">
          <div id="reward_header">
            <div>
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/star.png"
                width="25px"
              />
            </div>
            <div>나의 리워드</div>
            <div id="myReward">250,000</div>
          </div>
          <div id="rewardBtns">
            <button>+ 무료 리워드</button>
            <button>사용하기</button>
          </div>
        </div>
        <div id="listMenu">
          <div class="list">
            <div class="listImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/list1.png"
              />
            </div>
            <div class="listName">상담 내역</div>
          </div>
          <div class="list">
            <div class="listImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/list2.png"
              />
            </div>
            <div class="listName">수술 및 시술 내역</div>
          </div>
          <div class="list">
            <div class="listImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/chat.png"
              />
            </div>
            <div class="listName">커뮤니티 활동 내역</div>
          </div>
          <div class="list">
            <div class="listImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/info.png"
              />
            </div>
            <div class="listName">개인정보</div>
          </div>
          <div class="list">
            <div class="listImg">
              <img
                src="/LookAtMe/src/main/resources/static/img/icon/notice.png"
              />
            </div>
            <div class="listName">공지사항</div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div>
          <img src="/LookAtMe/src/main/resources/static/img/icon/home.png" /
          width="30px">
        </div>
        <div>
          <img src="/LookAtMe/src/main/resources/static/img/icon/chat.png" /
          width="30px">
        </div>
        <div>
          <img src="/LookAtMe/src/main/resources/static/img/icon/map.png" /
          width="30px">
        </div>
        <div onclick="click_mall();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/mall.png" /
          width="30px">
        </div>
        <div>
          <img src="/LookAtMe/src/main/resources/static/img/icon/my.png" /
          width="30px">
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
