<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리워드 초기화면</title>
  </head>
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/common.css"
  />
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/Reward.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div id="header_menu">
          <div onclick="click_befoer();">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/before.png"
              width="28px"
            />
          </div>
          <div onclick="click_home();">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/home.png"
              width="30px
              "
            />
          </div>
        </div>
      </div>
      <div id="main">
        <div id="ad">
          <img src="/LookAtMe/src/main/resources/static/img/ad4.png" /
          width="100%" >
        </div>
        <div id="select">
          <button id="procedure">시술 / 성형</button>
          <button id="mall" onclick="click_rewardMall();">리워드 몰</button>
        </div>
      </div>
      <div id="footer">
        <div onclick="click_home();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/home.png" /
          width="30px">
        </div>
        <div>
          <img src="/LookAtMe/src/main/resources/static/img/icon/chat.png" /
          width="30px">
        </div>
        <div>
          <img src="/LookAtMe/src/main/resources/static/img/icon/map.png" /
          width="30px">
        </div>
        <div onclick="click_mall();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/mall.png" /
          width="30px">
        </div>
        <div>
          <img src="/LookAtMe/src/main/resources/static/img/icon/my.png" /
          width="30px">
        </div>
      </div>
    </div>
  </body>
  <script src="/LookAtMe/src/main/resources/static/js/common.js"></script>
  <script src="/LookAtMe/src/main/resources/static/js/Reward.js"></script>
</html>
