<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리워드 시술/성형</title>
  </head>
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/common.css"
  />
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/Reward.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div id="header_menu">
          <div onclick="click_home();">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/home.png"
              width="28px"
            />
          </div>
          <div onclick="click_befoer();">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/cancel.png"
              width="28px
            "
            />
          </div>
        </div>
      </div>
      <div id="ad">
        <img src="/LookAtMe/src/main/resources/static/img/ad4.png" /
        width="100%" >
      </div>
      <div id="main">
        <div id="main_menu">
          <div class="scroll__wrap2" id="scrollWrap2">
            <div class="scroll__element2">
              <button class="menu">눈</button>
            </div>
            <div class="scroll__element2">
              <button class="menu">눈</button>
            </div>
            <div class="scroll__element2">
              <button class="menu">눈</button>
            </div>
            <div class="scroll__element2">
              <button class="menu">눈</button>
            </div>
            <div class="scroll__element2">
              <button class="menu">눈</button>
            </div>
            <div class="scroll__element2">
              <button class="menu">눈</button>
            </div>
            <div class="scroll__element2">
              <button class="menu">눈</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
