<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리워드 몰</title>
  </head>
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/common.css"
  />
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/Reward.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div id="header_menu">
          <div onclick="click_home();">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/home.png"
              width="28px"
            />
          </div>
          <div onclick="click_befoer();">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/cancel.png"
              width="28px
            "
            />
          </div>
        </div>
      </div>
      <div id="ad">
        <img src="/LookAtMe/src/main/resources/static/img/ad4.png" /
        width="100%" >
      </div>
      <div id="main">
        <div id="itemMenuBox">
          <div class="scroll__wrap" id="scrollWrap">
            <div class="scroll__element">
              <img
                src="/LookAtMe/src/main/resources/static/img/item1.png"
                width="75px"
              />
              <div class="itemName">상품</div>
            </div>
            <div class="scroll__element">
              <img
                src="/LookAtMe/src/main/resources/static/img/item1.png"
                width="75px"
              />
              <div class="itemName">상품</div>
            </div>
            <div class="scroll__element">
              <img
                src="/LookAtMe/src/main/resources/static/img/item1.png"
                width="75px"
              />
              <div class="itemName">상품</div>
            </div>
            <div class="scroll__element">
              <img
                src="/LookAtMe/src/main/resources/static/img/item1.png"
                width="75px"
              />
              <div class="itemName">상품</div>
            </div>
            <div class="scroll__element">
              <img
                src="/LookAtMe/src/main/resources/static/img/item1.png"
                width="75px"
              />
              <div class="itemName">상품</div>
            </div>
            <div class="scroll__element">
              <img
                src="/LookAtMe/src/main/resources/static/img/item1.png"
                width="75px"
              />
              <div class="itemName">상품</div>
            </div>
            <div class="scroll__element">
              <img
                src="/LookAtMe/src/main/resources/static/img/item1.png"
                width="75px"
              />
              <div class="itemName">상품</div>
            </div>
          </div>
        </div>
        <hr / >
        <div id="itemMenuBox2">
          <div class="itemBox">
            <div class="item">
              <div class="itemImg">
                <img src="/LookAtMe/src/main/resources/static/img/item2.png" />
              </div>
              <div class="itemName2">인기 아이템</div>
              <div class="itemContent">인기가 많은 아이템입니다.</div>
            </div>
            <div class="item">
              <div class="itemImg">
                <img src="/LookAtMe/src/main/resources/static/img/item2.png" />
              </div>
              <div class="itemName2">인기 아이템</div>
              <div class="itemContent">인기가 많은 아이템입니다.</div>
            </div>
          </div>
          <div class="itemBox">
            <div class="item">
              <div class="itemImg">
                <img src="/LookAtMe/src/main/resources/static/img/item2.png" />
              </div>
              <div class="itemName2">인기 아이템</div>
              <div class="itemContent">인기가 많은 아이템입니다.</div>
            </div>
            <div class="item">
              <div class="itemImg">
                <img src="/LookAtMe/src/main/resources/static/img/item2.png" />
              </div>
              <div class="itemName2">인기 아이템</div>
              <div class="itemContent">인기가 많은 아이템입니다.</div>
            </div>
          </div>
          <div class="itemBox">
            <div class="item">
              <div class="itemImg">
                <img src="/LookAtMe/src/main/resources/static/img/item2.png" />
              </div>
              <div class="itemName2">인기 아이템</div>
              <div class="itemContent">인기가 많은 아이템입니다.</div>
            </div>
            <div class="item">
              <div class="itemImg">
                <img src="/LookAtMe/src/main/resources/static/img/item2.png" />
              </div>
              <div class="itemName2">인기 아이템</div>
              <div class="itemContent">인기가 많은 아이템입니다.</div>
            </div>
          </div>
          <div class="itemBox">
            <div class="item">
              <div class="itemImg">
                <img src="/LookAtMe/src/main/resources/static/img/item2.png" />
              </div>
              <div class="itemName2">인기 아이템</div>
              <div class="itemContent">인기가 많은 아이템입니다.</div>
            </div>
            <div class="item">
              <div class="itemImg">
                <img src="/LookAtMe/src/main/resources/static/img/item2.png" />
              </div>
              <div class="itemName2">인기 아이템</div>
              <div class="itemContent">인기가 많은 아이템입니다.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/LookAtMe/src/main/resources/static/js/common.js"></script>
  <script src="/LookAtMe/src/main/resources/static/js/Reward.js"></script>
</html>
