<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지 (눈)</title>
  </head>
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/common.css"
  />
  <link
    rel="stylesheet"
    href="/LookAtMe/src/main/resources/static/css/Home.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div id="searchBox">
          <div id="searchImg">
            <img src="/LookAtMe/src/main/resources/static/img/icon/find.png" />
          </div>
          <div id="search">Search</div>
          <div id="microPone">
            <img
              src="/LookAtMe/src/main/resources/static/img/icon/microphone.png"
            />
          </div>
        </div>
        <div id="ad">
          <img src="/LookAtMe/src/main/resources/static/img/ad1.png" />
        </div>
      </div>
      <div id="main">
        <div id="menu">
          <div id="menuIcon">
            <div class="Icon">
              <div class="iconImg">
                <img
                  src="/LookAtMe/src/main/resources/static/img/icon/eye.png"
                />
              </div>
              <div class="iconName">눈</div>
            </div>
            <div class="Icon">
              <div class="iconImg">
                <img
                  src="/LookAtMe/src/main/resources/static/img/icon/nose.png"
                />
              </div>
              <div class="iconName">코</div>
            </div>
            <div class="Icon">
              <div class="iconImg">
                <img
                  src="/LookAtMe/src/main/resources/static/img/icon/mouth.png"
                />
              </div>
              <div class="iconName">입</div>
            </div>
            <div class="Icon">
              <div class="iconImg">
                <img
                  src="/LookAtMe/src/main/resources/static/img/icon/body.png"
                />
              </div>
              <div class="iconName">지방흡입</div>
            </div>
            <div class="Icon">
              <div class="iconImg">
                <img
                  src="/LookAtMe/src/main/resources/static/img/icon/back.png"
                />
              </div>
              <div class="iconName">기타</div>
            </div>
          </div>
          <div id="menuName">
            <div class="line">
              <div class="element">눈매 교정</div>
              <div class="element">동안 눈성형</div>
              <div class="element">눈재 수술</div>
            </div>
            <div class="line">
              <div class="element">이중교차 매몰법</div>
              <div class="element">눈밑 지방성형</div>
            </div>
            <div class="line">
              <div class="element">절개법</div>
              <div class="element">트임</div>
            </div>
          </div>
        </div>
        <div id="top10">
          <div id="title">지금 많이 찾는 병원 TOP 10</div>
          <div id="hospitals">
            <div class="hospitalBox">
              <div class="hospitalImg">
                <img
                  src="/LookAtMe/src/main/resources/static/img/hospital1.png"
                />
              </div>
              <div class="content">
                <div class="content-header">
                  <div class="hot">HOT</div>
                  <div class="subject">눈재수술 전문</div>
                  <div class="checkImg">
                    <img
                      src="/LookAtMe/src/main/resources/static/img/icon/check.png"
                    />
                  </div>
                </div>
                <div class="content-main">
                  <div class="hospitalName">포에버 성형외과 강남</div>
                  <div class="doctorInfo">
                    <div class="doctor">전문의</div>
                    <div class="doctorName">김석삼</div>
                  </div>
                  <div class="time">오전 9:000 - 오후 18:30</div>
                  <div class="review">
                    <div class="visitorReview">방문자 리뷰</div>
                    <div class="visitor">1,124</div>
                    <div>/</div>
                    <div class="blogReview">블로그 리뷰</div>
                    <div class="blog">315</div>
                  </div>
                </div>
              </div>
            </div>
            <div id="hospitals">
              <div class="hospitalBox">
                <div class="hospitalImg">
                  <img
                    src="/LookAtMe/src/main/resources/static/img/hospital1.png"
                  />
                </div>
                <div class="content">
                  <div class="content-header">
                    <div class="hot">HOT</div>
                    <div class="subject">이중교차 매몰법</div>
                    <div class="checkImg">
                      <img
                        src="/LookAtMe/src/main/resources/static/img/icon/check.png"
                      />
                    </div>
                  </div>
                  <div class="content-main">
                    <div class="hospitalName">반니 성형외과의원</div>
                    <div class="doctorInfo">
                      <div class="doctor">전문의</div>
                      <div class="doctorName">김석둘</div>
                    </div>
                    <div class="time">오전 9:000 - 오후 18:30</div>
                    <div class="review">
                      <div class="visitorReview">방문자 리뷰</div>
                      <div class="visitor">1,124</div>
                      <div>/</div>
                      <div class="blogReview">블로그 리뷰</div>
                      <div class="blog">315</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="hospitals">
              <div class="hospitalBox">
                <div class="hospitalImg">
                  <img
                    src="/LookAtMe/src/main/resources/static/img/hospital1.png"
                  />
                </div>
                <div class="content">
                  <div class="content-header">
                    <div class="hot">HOT</div>
                    <div class="subject">트임</div>
                    <div class="checkImg">
                      <img
                        src="/LookAtMe/src/main/resources/static/img/icon/check.png"
                      />
                    </div>
                  </div>
                  <div class="content-main">
                    <div class="hospitalName">연세하이눈 성형외과의원</div>
                    <div class="doctorInfo">
                      <div class="doctor">전문의</div>
                      <div class="doctorName">김석넷</div>
                    </div>
                    <div class="time">오전 9:000 - 오후 18:30</div>
                    <div class="review">
                      <div class="visitorReview">방문자 리뷰</div>
                      <div class="visitor">1,124</div>
                      <div>/</div>
                      <div class="blogReview">블로그 리뷰</div>
                      <div class="blog">315</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div onclick="click_home();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/home.png" /
          width="30px">
        </div>
        <div onclick="click_chat();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/chat.png" /
          width="30px">
        </div>
        <div onclick="click_map();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/map.png" /
          width="30px">
        </div>
        <div onclick="click_mall();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/mall.png" /
          width="30px">
        </div>
        <div onclick="click_my();">
          <img src="/LookAtMe/src/main/resources/static/img/icon/my.png" /
          width="30px">
        </div>
      </div>
    </div>
  </body>
  <script src="/LookAtMe/src/main/resources/static/js/common.js"></script>
</html>
